@use './fonts/typography' as type;
@use './tachyons';

* { box-sizing: border-box; }

$colors: (
  darkest-gray: #2a2a2a,
  white: #fff
);

:root {
  // TODO: Can this spacing scale be more meaningful?
  --line-spacing-1: 0.67em;
  --line-spacing-2: 1.34em;
  --line-spacing-3: 2.68em;

  --separator-color: var(--light-gray);

  --content-max-width: 34em;
  --wrapper-max-width: 42em;
}

.mw-content {
  max-width: var(--content-max-width);
}

.mw-wrapper {
  max-width: var(--wrapper-max-width);
}

.wrapper {
  @extend .mw-wrapper;
  @extend .center;
  padding: 1.5em;
}

.content-inset {
  padding: 1.5em;
}

.bnl-serif {
  font-family: type.$serif-fonts;
}

.c-text--mid {
  color: var(--gray);
}

.header-icon {
  svg {
    height: 2em;
    display: inline-block;
    margin: 0;
  }
}

.primary-menu-wrapper {
  display: flex;

  li {
    padding: 0 0.5em;
  }
}

html {
  font-size: 18px;

  @media (min-width: 900px) {
    font-size: 21px;
  }
}


body {
  color: map-get($colors, darkest-gray);
  font-family: type.$sans-serif-fonts;
  font-weight: 400;
}

a:link,
a:visited {
  color: var(--red);
  text-decoration: none;
}

.separator {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--separator-color);
}

.debug-measure {
  background-color: #f0f1;

  &:before {
    display: block;
    color: var(--washed-red);
    content: 'abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklm';
  }
}

.content-wrapper {
  width: auto;
  max-width: 60ch;
  max-width: 38rem;
  padding: var(--spacing-large);
}

.featured-media {
  display: block;
  max-width: 54rem;
  
  img {
    max-width: 80rem;
  }
  
  @media (min-width: 60rem) {
    img {
      max-height: 30rem;
      object-fit: cover;
      object-position: 50% 30%;
    }
  }
}

@import './inc/cms-content';