a {

	@include link-transition;
	color: theme-color(link);

	&:visited {
		color: theme-color(link-visited);
	}

	&:hover,
	&:active {
		color: theme-color(link-hover);
		outline: 0;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
		text-decoration: underline;
	}
}
