@use './fonts/typography' as type;

:root {
  --text-color: #000c;
  --light-text-color: #0006;
  --link-color: #000;
  --line-color: #0006;

  --lh-1: 1.56rem;
  --lh-2: 3.1rem;
  --lh-3: 6.2rem;
}

@mixin fancy-underlines {
  background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="1" y2="1" stroke="rgba(0, 0, 0, 0.84)" /></svg>');
  background-repeat: repeat-x;
  background-position: 0 calc(1em + 1px);
  background-size: 1px 1px;
}

.cms-content {
  --copy-line-height: 1.63rem;

  color: var(--text-color);
  line-height: var(--copy-line-height);

  %all-blocks {
    margin: 0;
    margin-bottom: var(--copy-line-height);
    min-width: 100%;
    padding: 0;
  }

  a {
    @include fancy-underlines();
    color: var(--link-color);
  }

  blockquote, dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul, hr,
  .wp-block-quote, .wp-block-code, .wp-block-image, .wp-block-embed, .wp-block-gallery, .wp-block-pullquote, .wp-block-separator {
    @extend %all-blocks;
  }

  // LISTS

  ul, ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    // Nested lists
    ul, ol {
      margin-bottom: 0;
      margin-top: 0.5em;
    }

    // All list items
    & > li {
      margin-left: 1.5em;
      margin-bottom: 0.5em;

      &:before {
        display: inline-block;
        width: 3em;
        margin-left: -3em;
        box-sizing: border-box;
        text-align: right;
        position: absolute;
      }
    }
  }

  // Bullet list items
  ul > li {
    &:before {
      padding-top: 4px;
      padding-right: 15px;
      content: '\2022';
      margin-top: -0.15em;
    }
  }

  // Numbered list items
  ol > li {
    counter-increment: my-awesome-counter;

    &:before {
      content: counter(my-awesome-counter) ".";
      font-family: type.$sans-serif-fonts;
      font-weight: bold;
      padding-right: 0.5em;
    }
  }

  // HEADINGS

  h1, h2, h3, h4, h5, h6 {
    font-family: type.$sans-serif-fonts;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
  
  h1, h2 {
    // Block above would have 1x LH spacing
    margin-top: 2.18rem;    
  }

  // SEPARATORS

  & > hr, .wp-block-separator {
    border-style: solid;
    width: 6rem;
    border-color: var(--line-color);
    border-width: 2px 0 0 0;
    height: 0px;

    margin-bottom: 3.1rem;

    // HR spacing minus the clh spacing from the block above
    margin-top: calc(3.1rem - var(--copy-line-height));

    & + h1, & + h2 {
      // Slight correction since extra HR spacing plus white space around headings seems too much, reduced effective spacing to 60px or so
      margin-top: -0.36rem;
    }
  }

  // BLOCKQUOTES

  & > blockquote,
  .wp-block-quote {
    box-shadow: inset 3px 0 0 0 var(--text-color);
    padding-left: 1.5rem;
    margin-left: -1.5rem;

    p:last-child {
      margin-bottom: 0;
    }

    &.is-style-large, &.is-large {
      p {
        font-size: 1.27em;
        line-height: 2rem;
      }
    }
  }

  // FIGURES (Code blocks, galleries, images, pull quotes)

  figure, .wp-block-code, .wp-block-image, .wp-block-gallery {
    margin-left: 0;
    margin-right: 0;
  }

  .wp-block-pullquote > blockquote,
  .wp-block-gallery > ul {
    margin-bottom: 0;
  }

  // CODE BLOCKS

  .wp-block-code {
    background-color: #0001;
    font-size: 16px;
    padding: 1em;
    border-radius: 4px;
  }


  // FIGURES 

  iframe {
    margin: 0 auto !important;
  }

  img, video {
    display: block;
    height: auto;
    width: unset;
  }

  figure img, figure video {
    margin: 0;
  }

  // WP Gutenberg image blocks
  .wp-block-image {
    max-width: unset;

    img {
      max-width: 100%;
    }

    &.alignwide, &.alignfull {
      img {
        width: 100vw;
        max-width: unset;
      }
    }

    &.alignwide img {
      max-width: var(--wrapper-max-width);
    }
  }

  .wp-block-gallery {
    &.alignwide, &.alignfull {
      .blocks-gallery-grid {
        width: 100vw;
      }
    }

    &.alignwide .blocks-gallery-grid {
      max-width: var(--wrapper-max-width);
    }

    li:before {
      content: unset;
    }
  }

  .wp-block-embed {
    // Given the surrounding flex context, this will collapse smaller unless we make it full width
    min-width: 100%;
  }

  .twitter-tweet {
    @extend .center;
  }

  figcaption {
    @extend .center;
    @extend .mt2;
    @extend .mb0;

    color: var(--light-text-color);
    font-size: 0.8rem;
    line-height: 1.5;
    font-family: type.$sans-serif-fonts;
    padding: 0;
    text-align: center;
    max-width: 60ch;
  }
}