@use './fonts/typography' as type;

:root {
  --text-color: #000c;
  --light-text-color: #0006;
  --link-color: #000;
  --line-color: #0006;

  --copy-font-size:   1rem;   // 22px
  --copy-line-height: 1.6rem; // 36px 

  --lh-1: 1.8rem; // 36px
  --lh-2: 2.4rem; // 48px
  --lh-3: 3.2rem; // 64px
}

@mixin fancy-underlines {
  background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="1" y2="1" stroke="rgba(0, 0, 0, 0.84)" /></svg>');
  background-repeat: repeat-x;
  background-position: 0 calc(1em + 1px);
  background-size: 1px 1px;
}

.entry-content {
  color: var(--text-color);
  font-size: var(--copy-font-size);
  line-height: var(--copy-line-height);

  & > *:first-child {
    margin-top: 0 !important;
  }

  %all-blocks {
    margin: 0;
    margin-bottom: var(--copy-line-height);
    min-width: 100%;
    padding: 0;
  }

  a {
    @include fancy-underlines();
    color: var(--link-color);
  }

  blockquote, dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul, hr,
  .wp-block-quote, .wp-block-code, .wp-block-image, .wp-block-embed, .wp-block-gallery, .wp-block-pullquote, .wp-block-separator {
    @extend %all-blocks;
  }

  // LISTS

  ul, ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    // Nested lists
    ul, ol {
      margin-bottom: 0;
      margin-top: 0.6em;
    }

    // All list items
    & > li {
      margin-left: 1.5em;
      margin-bottom: 0.6em;

      &:before {
        display: inline-block;
        width: 3em;
        margin-left: -3em;
        box-sizing: border-box;
        text-align: right;
        position: absolute;
      }
    }
  }

  // Bullet list items
  ul > li {
    &:before {
      padding-top: 4px;
      padding-right: 15px;
      content: '\2022';
      margin-top: -0.15em;
    }
  }

  // Numbered list items
  ol > li {
    counter-increment: my-awesome-counter;

    &:before {
      content: counter(my-awesome-counter) ".";
      font-family: type.$sans-serif-fonts;
      font-weight: bold;
      padding-right: 0.5em;
    }
  }

  // HEADINGS

  h1, h2, h3, h4, h5, h6 {
    font-family: type.$sans-serif-fonts;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 500;

    & + *:not(h2) {
      margin-top: var(--copy-line-height);
    }
  }
  
  h1, h2 {
    // Block above would have 1x LH spacing, so this would be a double space
    margin-top: var(--copy-line-height);
  }

  hr + h1, hr + h2 {
    margin-top: unset;
  }

  // SEPARATORS

  & > hr, .wp-block-separator {
    
    // HR spacing minus the clh spacing from the block above
    margin-bottom: 2rem;
    margin-top: calc(2rem - var(--copy-line-height));

    height: var(--copy-line-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 0;

    &:before {
      content: '•••';
      color: var(--line-color);
      display: inline-block;
      font-size: 1rem;
      letter-spacing: 1em;
    }
  }

  // BLOCKQUOTES

  & > blockquote,
  .wp-block-quote {
    box-shadow: inset 3px 0 0 0 var(--text-color);
    padding-left: 1.5rem;
    margin-left: -1.5rem;
    box-sizing: content-box;

    & > p {
      min-width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }


    &.is-style-large, &.is-large {
      margin-top: calc(2rem - var(--copy-line-height));
      margin-bottom: 2rem;

      p {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }

  // PULL QUOTES

  .wp-block-pullquote {
    margin-top: calc(2rem - var(--copy-line-height));
    margin-bottom: 2rem;

    p {
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 1rem;

      &:before, &:after {
        color: var(--light-text-color);
        margin-left: 2px;
        margin-right: 2px;
      }

      &:before {
        content: "“";
      }
      &:after {
        content: "”";
      }
    }

    cite {
      color: var(--light-text-color);
      font-family: type.$sans-serif-fonts;

      &:before {
        content: '—';
        display: inline-block;
      }
    }
  }

  // FIGURES (Code blocks, galleries, images, pull quotes)

  %figures {
    margin-left: 0;
    margin-right: 0;

    & + %figures {
      margin-top: -0.6rem;
    }
  }

  figure, .wp-block-code, .wp-block-image, .wp-block-gallery, .wp-block-embed {
    @extend %figures;
  }

  .wp-block-pullquote > blockquote,
  .wp-block-gallery > ul {
    margin-bottom: 0;
  }

  // CODE BLOCKS

  & > pre, .wp-block-code {
    overflow: scroll;
    background-color: #0001;
    font-size: 16px;
    padding: 1em;
    border-radius: 4px;
    max-width: 100%;
  }

  // FIGURES 

  iframe {
    margin: 0 auto !important;
  }

  img, video {
    display: block;
    height: auto;
    width: unset;
  }

  figure img, figure video {
    margin: 0;
  }

  // WP Gutenberg image blocks
  .wp-block-image {
    max-width: unset;

    img {
      max-width: 100%;
    }

    &.alignwide, &.alignfull {
      img {
        width: 100vw;
        max-width: unset;
      }
    }

    &.alignwide img {
      max-width: var(--wrapper-max-width);
    }
  }

  .wp-block-gallery {
    &.alignwide, &.alignfull {
      .blocks-gallery-grid {
        width: 100vw;
      }
    }

    &.alignwide .blocks-gallery-grid {
      max-width: var(--wrapper-max-width);
    }

    li:before {
      content: unset;
    }
  }

  .wp-block-embed {
    // Given the surrounding flex context, this will collapse smaller unless we make it full width
    min-width: 100%;
  }

  .twitter-tweet {
    @extend .center;
  }

  figcaption {
    @extend .center;

    color: var(--light-text-color);
    font-size: 0.8rem;
    line-height: 1.5;
    font-family: type.$sans-serif-fonts;
    padding: 0;
    text-align: center;
    max-width: 60ch;
  }
}

.bnl-test-group {
  width: 100vw;
  height: 20rem;
  position: relative;
  margin: 2rem 0;

  &__content, &__content > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    vertical-align: middle;
  }
}